
<div class="section center">
  <% if session[:user] %>
    <h5>新しい部屋の追加</h5>
    <form action="/create_room" method="post">
      <button type="submit" class="waves-effect waves-light btn">
        部屋の追加
      </button>
    </form>
  <% else %>
    <p>閲覧モードです．対戦にはログインが必要です．</p>
  <% end %>
</div>
<% @login = !session[:user].nil? %>
<div id="card-stats">
  <div class="row">
    <%= render :erb, :'index/waiting' %>    
    <%= render :erb, :'index/doing' %>
    <% if @login %>
    <%= render :erb, :'index/finished' %>
    <% end %>
  </div>
</div>

<style>
  .loser{
    background-color: red;
  }
  button{
    margin: 10px;
  }
  .card-games{
    height: 300px;
  }
  td{
    padding: 5px 5px;
    height: 55px;
  }
  .card-stats-title{
    float:left;
  }
  h6{
    margin: 0px;
  }
</style>