<% if session[:user] %>
  <form action="/create_room" method="post">
    <input type="submit" value="部屋の追加">
  </form>
<% else %>
  <p>閲覧モードです．対戦にはログインが必要です．</p>
<% end %>
<table>
<% @rooms.each do |room| %>
  <tr>
    <td><a href="/room/<%= room.id %>">Room<%= room.id %>へ</a></td>
  </tr>
<% end %>
<table>