<form action="/create_room" method="post">
  <input type="submit" value="部屋の追加">
</form>

<table>
<% @rooms.each do |room| %>
  <tr>
    <td><a href="/room/<%= room.id %>">Room<%= room.id %>へ</a></td>
  </tr>
<% end %>
<table>