<%= session[:error] %>
<form action="/signin" method="post">
  <input type="text" name="name" placeholder="ユーザー名"><br>
  <input type="password" name="password" placeholder="パスワード"><br>
  <input type="submit" value="ログイン"><br>
</form>