<%= session[:error] %>
<form action="/signup" method="post">
  <input type="text" name="name" placeholder="ユーザー名"><br>
  <input type="password" name="password" placeholder="パスワード"><br>
  <input type="password" name="password_confirmation" placeholder="パスワードの確認"><br>
  <input type="submit" value="新規登録">
</form>